.Content {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 25%;
    margin-right: 25%;
}

@media only screen and (max-width: 900px) {
    .Content {
        margin-left: 10%;
        margin-right: 10%;
    }
  }

.Gfg { 
    width:auto; 
    text-align:right; 
    padding:20px;
    align-content: right;
} 

.Contact {
    align-items: center;
}

.ImageMe {
    object-fit: contain;
    max-width: 150px;
    max-height: 150px;
    min-height: 150px;
    min-width: 150px;
    width: auto;
    height: auto;
    margin-top:20px;
    margin-bottom:20px;
    border-radius: 50%;
    
    
}

.LinkImage {
    object-fit: contain;
    max-width: 150px;
    min-width: 150px;
    margin-bottom:5px;
}

.col-xs {
    flex-basis: 50%;
  }

.SkillCardContainer{
    display: flex;   /* Magic begins */
    flex-wrap: wrap; /* Allow multiple lines */
    
}
.SkillCardDiv{
    flex: 1 200px;   /* Initial width of 600px/2
                      Grow to fill remaining space */
    min-width: 0;
    min-height:200px;
    
    
}